@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: Arial, sans-serif !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  cursor: grab;
  user-select: none;
  visibility: hidden;
}

.profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.like,
.dislike {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.like {
  background-color: #4caf50;
  color: white;
}

.dislike {
  background-color: #f44336;
  color: white;
}

.liked {
  transform: translateX(-1000px) rotate(15deg);
}

.disliked {
  transform: translateX(1000px) rotate(-15deg);
}

.content {
  padding-bottom: 50px;
}
